{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div id="boxshadow">
	<div id="searchHeader">
		Site Designed By...
	</div>
	<form action="" method="GET">
		<br />
		<input type="text" id="website" name="website" size="55" value="Enter a Url"
		onclick="if(this.value=='Enter a Url'){this.value='';this.style.color='#000'}"
		onblur="if(this.value==''){this.value='Enter a Url'; this.style.color='#555'}"
		/>
		<input type="submit" value="Search" class="button blue" />

		<br />
		<br />
	</form>
</div>
{% endblock %}