{% extends "base.html" %}
{% block title %}{{book.title}}{% endblock %}
{% block content %}
<table>
    <tr>
        <td>Title &nbsp;&nbsp;&nbsp;</td><td>{{book.title}}</td>
    </tr>
    <tr>
        <td>Authors &nbsp;&nbsp;&nbsp;</td><td>{{book.author}}</td>
    </tr>
    <tr>
        <td>ISBN &nbsp;&nbsp;&nbsp;</td><td>{{book.isbn}}</td>
    </tr>
    <tr>
        <td>Edition </td><td>{{book.edition}}{% if book.copyrightYear %}; (Copyright {{book.copyrightYear}}) {% endif %}</td>
    </tr>
</table>
<p>Own a copy of this book? <a href="/bookswap/sell_book/2/?isbn={{book.isbn}}">Sell it!</a></p>
<table class="highlight_row">
    <thead>
        <th>Owner &nbsp;&nbsp;&nbsp;</th><th>Condition&nbsp;&nbsp;&nbsp;</th><th>Price&nbsp;&nbsp;&nbsp;</th><th>Comments&nbsp;&nbsp;&nbsp;</th>
    </thead>
{% for copy in copies %}
<tr>
    <td><a href="/accounts/profiles/get_contact/{{copy.owner.username}}/">{{copy.owner.username}}</a></td> 
    <td>{{copy.condition}}</td>
    <td>${{copy.price|floatformat:2}}</td>
    <td>{{copy.comments}}</td>
</tr>
{% endfor %}